<!DOCTYPE html>
<html>
<head>
    <title>Invoce manager {% block title %}{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ asset('../assets/images/favicon.jpg') }}" />

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

<div class="container">
    <div class="navigation">
        {{ render(controller('App\\Controller\\BaseController::navigation')) }}
    </div>

    <div class="dashboard">
        <div class="container-fluid">
            <div class="row header">
                {{ render(controller('App\\Controller\\BaseController::header')) }}
            </div>

            <div class="row dashboard-container">
                {% block body %}
                    <!-- Place to content page -->
                {% endblock %}
            </div>
        </div>
    </div>
</div>

{{ render(controller('App\\Controller\\NotifyController::notify')) }}

</body>
</html>
