{% extends 'base/base.html.twig' %}

{% block title %}{{ 'title.contractor.list'|trans }}{% endblock %}

{% block body %}

    <div class="col-12">
        <div class="row">
            <div class="col-12 dashboard-header">
                <h2>
                    {{ 'contractor.list.header.title'|trans }}
                    <a href="{{ path('contractor-create') }}" class="btn btn-red-outline float-right">
                        <i class="fas fa-plus"></i> {{ 'contractor.list.header.redirect'|trans }}
                    </a>
                </h2>
            </div>

            <div class="col-12 dashboard-content">
                <table class="table table-bordered table-sm table-striped">
                    <tr>
                        <th width="5%">{{ 'contractor.list.lp'|trans }}</th>
                        <th width="55%">{{ 'contractor.list.name'|trans }}</th>
                        <th width="20%">{{ 'contractor.list.nip'|trans }}</th>
                        <th width="20%">{{ 'contractor.list.action'|trans }}</th>
                    </tr>
                    {% for contractor in contractors %}
                        <tr>
                            <td>{{ loop.index }}.</td>
                            <td>{{ contractor.name }}</td>
                            <td>{{ contractor.nip }}</td>
                            <td>
                                <a href="{{ path('contractor-change-status', {'idContractor': contractor.id }) }}" class="badge badge-warning">
                                    <i class="fas fa-exchange-alt"></i>
                                    {{ 'contractor.list.status'|trans }}
                                </a>
                                <a href="{{ path('contractor-edit', {'idContractor': contractor.id }) }}" class="badge badge-danger">
                                    <i class="fas fa-edit"></i>
                                    {{ 'contractor.list.edit'|trans }}
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">{{ 'contractor.list.notFound'|trans }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}