{% extends 'base/base-auth.html.twig' %}

{% block title %}{{ 'login.title'|trans }}{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'errors') }}</div>
    {% endif %}

    <h1>{{ 'login.headline'|trans }}</h1>

    {{ form(loginForm) }}

    <p>{{ 'login.info'|trans }} <a href="{{ path('user-register') }}" class="btn">{{ 'login.redirect'|trans }}</a></p>

</form>
{% endblock %}