{% extends 'base/base-auth.html.twig' %}

{% block title %}{{ 'title.login'|trans }}{% endblock %}

{% block body %}

    <div class="col-10 col-md-4 offset-2 auth-left-box">
        <form method="post">
            <h1 class="text-center">{{ 'form.login.headline'|trans }}</h1>
            {{ form(loginForm) }}
        </form>
    </div>

    <div class="col-12 col-md-4 auth-right-box text-right">
        <h3>{{ 'login.descritpion.headline'|trans }}</h3>
        <p>{{ 'login.description.first'|trans }}</p>
        <p>{{ 'login.description.second'|trans }}</p>
        <a href="{{ path('user-register') }}" class="btn">{{ 'login.description.redirect'|trans }}</a>
    </div>

{% endblock %}