{% extends 'base/base-auth.html.twig' %}

{% block title %}{{ 'register.title'|trans }}{% endblock %}

{% block body %}

    <h1>{{ 'register.headline'|trans }}</h1>

    {{ form(registrationForm) }}

    <p>{{ 'register.info'|trans }} <a href="{{ path('user-login') }}" class="btn">{{ 'register.redirect'|trans }}</a></p>

{% endblock %}
