{% extends 'base/base-auth.html.twig' %}

{% block title %}{{ 'title.register'|trans }}{% endblock %}

{% block body %}

    <div class="col-12 col-sm-6 col-md-4 offset-md-2 auth-left-box register">
        <form method="post">
            <h1 class="text-center">{{ 'form.register.headline'|trans }}</h1>
            {{ form(registrationForm) }}
        </form>
    </div>

    <div class="col-12 col-md-4 auth-right-box text-right">
        <h3>{{ 'register.descritpion.headline'|trans }}</h3>
        <p>{{ 'register.description.first'|trans }}</p>
        <p>{{ 'register.description.second'|trans }}</p>
        <a href="{{ path('user-login') }}" class="btn">{{ 'register.description.redirect'|trans }}</a>
    </div>
    
{% endblock %}
