<div class="container">
    <div class="row">
        <div class="col-12">
            <i class="fab fa-accusoft logo"></i>
        </div>
    </div>
    <div class="row items">
        <div class="col-12">
            <a href="{{ path('document-create') }}">
                <i class="far fa-plus-square"></i>
                <p>{{ 'navigation.addDocument'|trans }}</p>
            </a>
        </div>

        <div class="col-12">
            <a href="#">
                <i class="fas fa-file-invoice"></i>
                <p>{{ 'navigation.documents'|trans }}</p>
            </a>
        </div>

        <div class="col-12">
            <a href="{{ path('contractor-list') }}">
                <i class="fas fa-users"></i>
                <p>{{ 'navigation.contractors'|trans }}</p>
            </a>
        </div>

        <div class="col-12">
            <a href="#">
                <i class="fas fa-user-tie"></i>
                <p>{{ 'navigation.account'|trans }}</p>
            </a>
        </div>

        <div class="col-12 help">
            <a href="#">
                <i class="far fa-question-circle"></i>
            </a>
        </div>
    </div>
</div>